{% extends "base.html" %}

{% block title %}Formulario de asignatura | ProfeOnline{% endblock %}

{% block content %}
<section class="c-hero">
    <h1>
        {% if form.instance.pk %}
            Editar asignatura
        {% else %}
            Crear asignatura
        {% endif %}
    </h1>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar</button>
    </form>

    <p>
        <a href="{% url 'content:subject_list' %}">Volver a asignaturas</a>
    </p>
</section>
{% endblock %}