{% extends "base.html" %}

{% block title %}Asignaturas | ProfeOnline{% endblock %}

{% block content %}
<section class="c-hero">
    <h1>Asignaturas</h1>

    {% if user.is_superuser %}
        <p>
            {% if user.is_superuser %}
                <a href="{% url 'content:subject_create' %}">Crear nueva asignatura</a>
            {% endif %}
        </p>
    {% endif %}

    {% if subjects %}
        <ul>
            {% for subject in subjects %}
                <li>
                    <strong>{{ subject.name }}</strong><br>
                    {{ subject.description|default:"Sin descripción" }}<br>

                    {% if user.is_superuser %}
                        <a href="{% url 'content:subject_update' subject.pk %}">Editar</a> |
                        <a href="{% url 'content:subject_delete' subject.pk %}">Eliminar</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aún no hay asignaturas registradas.</p>
    {% endif %}
</section>
{% endblock %}