{% if prerequisites %}
<aside class="learn-prereqs">
    <h2 class="learn-prereqs__title">Antes de empezar</h2>
    <p class="learn-prereqs__intro">Te recomendamos tener claro esto antes de avanzar:</p>
    <ul class="learn-prereqs__list">
        {% for pr in prerequisites %}
        <li class="learn-prereqs__item">
            <a class="learn-prereqs__link" href="{{ pr.url }}">{{ pr.node.name }}</a>
            <span class="learn-prereqs__kind">{{ pr.kind_display }}</span>
        </li>
        {% endfor %}
    </ul>
</aside>
{% endif %}
